<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edbrix.enterprise">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/edbrix"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.SignupActivity" />
        <activity android:name=".Activities.ForgotPasswordActivity" />
        <activity android:name=".Activities.ChangePasswordActivity" />
        <activity android:name=".Activities.OrganizationListActivity" />
        <activity android:name=".Activities.WalkThroughActivity" />
        <activity android:name=".Activities.PasswordActivity" />
        <activity android:name=".Activities.DashboardActivity" />
        <activity android:name=".Activities.BottomTabMenuActivity" />
        <activity android:name=".Activities.CourseDetailActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.PlayCourseActivity"/>
        <activity android:name=".Activities.MeetingDetailActivity" />
        <activity android:name=".Activities.CreateLiveCourseActivity" />
        <activity android:name=".Activities.CreateVideoCourseActivity"/>
    </application>

</manifest>