<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edbrix.enterprise">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/edbrix"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.SignupActivity" />
        <activity android:name=".Activities.ForgotPasswordActivity" />
        <activity android:name=".Activities.ChangePasswordActivity" />
        <activity android:name=".Activities.OrganizationListActivity" />
        <activity android:name=".Activities.WalkThroughActivity" />
        <activity android:name=".Activities.PasswordActivity" />
        <activity android:name=".Activities.DashboardActivity" />
        <activity android:name=".Activities.BottomTabMenuActivity" />
        <activity android:name=".Activities.CourseDetailActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".baseclass.BaseActivity" />
        <activity android:name=".Activities.PlayCourseActivity" />
        <activity android:name=".Activities.MeetingDetailActivity" />
        <activity android:name=".Activities.CreateLiveCourseActivity" />
        <activity android:name=".Activities.CreateVideoCourseActivity" />
        <activity android:name=".Activities.ZoomLoginActivity" />
        <activity android:name=".Activities.AddFilesActivity" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity android:name=".Activities.UploadDemo" />
        <activity android:name=".Activities.PhotoPopUpActivity" />
        <activity android:name=".Activities.FileListActivity" />

        <service android:name=".Services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Services.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity android:name=".Activities.CreateScheduleActivity" />
        <activity android:name=".Activities.EditProfileActivity" />
        <activity android:name=".Activities.TokBoxActivity" />
        <activity android:name=".Activities.LearnersListActivity" />
        <activity
            android:name=".Activities.Test_Drawer"
            android:label="@string/title_activity_test__drawer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>